.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
   */

.logo {
  width: 3.125rem; /* Set the desired width */
  height: auto; /* Automatically adjust height while maintaining aspect ratio */
}

.logo-btn {
  width: 1.75rem;
  border-radius: 100px;
  height: auto;
}
/* CSS for the hover effect with line */
.nav-link {
  position: relative; /* Make the link container relative for absolute positioning */
  text-decoration: none; /* Remove default underline */
  overflow: hidden; /* Hide any overflowing content */
}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Adjust the line thickness as needed */
  background-color: limegreen; /* Change to your desired line color */
  bottom: 0;
  transition: width 0.7s; /* Add a smooth transition effect */
}

.nav-link::before {
  left: 0; /* Start the line from the beginning of the link */
  transform: scaleX(0); /* Initially, set the width to 0 */
  transform-origin: left; /* Scale from the left edge */
}

.nav-link::after {
  right: 0; /* Start the line from the end of the link */
  transform: scaleX(0); /* Initially, set the width to 0 */
  transform-origin: right; /* Scale from the right edge */
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 100%; /* Expand the line to cover the entire width of the link */
  transform: scaleX(1); /* Scale the line to its full width */
}

.problems-link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.btn-link {
  list-style: none;
  text-decoration: none;
  color: black;
}
